<div class="page-title">
  <h4>Аналитика</h4>
</div>

<!-- скрываем элемент, но так, чтобы он оставался в DOM -->
<div [style.display]="pending ? 'none' : 'block'">
  <div class="average-price">
    <p>Средний чек <strong>1{{ average }}р.</strong></p>
  </div>

  <div class="analytics-block pb3">
    <h5>Выручка</h5>
    <canvas #revenue></canvas>
  </div>

  <div class="analytics-block">
    <h5>Заказы</h5>
    <canvas #orders></canvas>
  </div>
</div>

<app-loader *ngIf="pending"></app-loader>
