<div class="page-title">
  <h4>История заказов</h4>
  <button
    #tooltip
    (click)="isFilterVisible = !isFilterVisible"
    class="btn btn-small"
    [ngClass]="{
      active: isFilterVisible
    }"
    data-tooltip="Открыть фильтр"
    data-position="left"
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter *ngIf="isFilterVisible"></app-history-filter>

<div *ngIf="!loading; else loader">
  <div *ngIf="orders.length !== 0; else empty">
    <app-history-list [orders]="orders"></app-history-list>

    <div *ngIf="!noMoreOrders" class="center mb2">
      <button
        class="btn waves-effect grey darken-1 btn-small"
        (click)="loadMore()"
        *ngIf="!loadingMore; else loader"
      >Загрузить еще
      </button>
    </div>
  </div>

  <ng-template #empty>
    <div class="center">
      У вас пока нет заказов
    </div>
  </ng-template>
</div>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>

